*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
    font-weight:200;
    /* background-color: black; */
}
body{
    background:linear-gradient(45deg,rgb(84, 85, 88),black);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
}
.clock{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color:rgba(66, 72, 82, 0.235);
    border: 10px solid rgb(42, 41, 41);
    box-shadow:  0px 0px 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 32%;
    text-align: center;/*centers the text inside the span not the span  */
    /* inset+transform give it the digits this shape */
    font-family: Monoton;
}
.clock span b{
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    font-size: 30px;
}
.clock::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(74, 74, 74);
    box-shadow:  0px 0px 40px rgb(112, 110, 110);

}
.clock::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    box-shadow:  0px 0px 5px rgb(0, 0, 0);


}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: var(--w);
    height:var(--h) ;
    border-radius: 99%;
    box-shadow:  4px 0px 3px rgba(0, 0, 0, 1);
}
